
<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body>




<div class="container py-5" >
 
  
      
<div class="container" id="home" class="tab-pane fade in active show">
  <div class="cards py-5">
  <div class="col-md-12">
   
    <div class="card" style="height: 400px;">
      <div class="card-body">
        <div class="card-title col-md-5" >
          <h3>
          why join Ahadu?
          </h3>

        </div>
        <div class="card-text px-5 col-md-4 col-sm-8">
          to track down who is working
          in more than one campus.
          <br>
          to know that we need you to fill
          this info.
          <br/>
          because it helps us to track down them.
          <br/>
          and it would be meaning less with out your help.
        </div>
       </div>
       </div>
    
    </div>
  
    <div class="col-md-6 offset-md-5">
      <div class="card " id="cardtwo">
        <div class="card-body">

          <div class="title">
            <h5 class="card-title  text-center" >
              Registor Page </h5>
              
            </div>
          
              <p class="card-text text-center">one of the ultimate track down
                ever in the history of Ethiopian Education.
              </p>

              <form>
                <input type="hidden" name="_id" >
                <div class="form-group">
                  <label for="exampleInputEmail1">fullName:</label>
                  <input   class="form-control" type="text"   placeholder="Enter firstname" required
                 >
                  </div>
                <div>
                  
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">email:</label>
                  <input  class="form-control" type="text" name="middleName"  placeholder="Enter middlename" required
                 >
                  </div>
                  <div >
                    
  
                  </div>

                  <div class="form-group">
                    <label   for="exampleInputPassword1">phone:</label>
                    <input class="form-control" type="text"  name="lastName"  placeholder="Enter lastname" required
                     >
                    </div>
                   
               
               
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input  class="form-control" type="password"  name="password"  placeholder="Password" required minlength="8"
                  >

                </div>
               
                <div >


                </div>
                
                <div >
                 

                </div>
              

               
                
                
                <!-- <button type="button" class="btn  text-center btn-sm px-5">submit</button>--> 
              <input style="background-color: #ffa800" type="submit" value="Registor"  routerLink= "/home">
              </form>
          

              <div class="alert" >
               <h1 style="color: red;"> </h1>

              </div>
          </div>
          </div>
      </div>



  </div>

</div>


<!--registration page for checker-->

 
    </div>

    
    


    <footer class="site-footer">
      <h4 class="text-center" style="font-family: 'Times New Roman', Times, serif;color: white;">2020 © Ministry of Science and Higher Education - All rights reserved.</h4>
     
     
    </footer>
    

</body>
</html>



<script>
  // Material Select Initialization
$(document).ready(function() {
$('.mdb-select').materialSelect();
$('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
$(this).closest('.select-outline').find('label').toggleClass('active');
$(this).closest('.select-outline').find('.caret').toggleClass('active');
});
});
  </script>